BODY {
	margin: 15px 10px 5px 10px;
	background: #C5C7E1;
	font-family: Verdana, Arial;
	font-size: 10pt;
	color: #000000;
}

TABLE.Head {
	width: 100%;
	background: #2835E8;
}

TD {
	text-align: justify;
	font-family: Verdana, Arial;
	font-size: 10pt;
	color: #000000;
}

TD.Head {
	background: #C5C7E1;
	font-size: 13pt;
	font-weight: bold;
	color: #2835E8;
}

TD.Bottom {
	font-size: 10px;
	text-align: right;
}

HR {
	color: #C5C7E1;
}

MENU {
	margin-top: 10px;
}

H3 {
	font-size: 13pt;
	margin-bottom: 10px;
}

P {
	margin: 10px 0px 15px 0px;
}

LI {
	margin: 5px 0px 3px 0px;
}

A:Link {
	color: #2848D8;
	text-decoration: underline;
}

A:Visited {
	color: #2848D8;
	text-decoration: underline;
}

A:Hover	{
	color: #CA0C0C;
	text-decoration: underline;
}